/* Page-specific wp-container CSS for chronic-conditions-recovery */
.wp-container-core-group-is-layout-51916e7d > .alignfull{margin-right:calc(20px * -1);margin-left:calc(20px * -1);}
.wp-container-core-column-is-layout-bf43075d > *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-column-is-layout-bf43075d > * + *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-columns-is-layout-f798d21e{flex-wrap:nowrap;gap:2em 0;}
.wp-container-core-columns-is-layout-28232c24{flex-wrap:nowrap;gap:0 0;}
.wp-container-core-buttons-is-layout-a89b3969{justify-content:center;}
.wp-container-core-group-is-layout-5d58dd66 > .alignfull{margin-right:calc(20px * -1);margin-left:calc(20px * -1);}
.wp-container-core-group-is-layout-69c83ab5 > :where(:not(.alignleft):not(.alignright):not(.alignfull)){margin-right:0 !important;}
.wp-container-core-column-is-layout-a77db08e > *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-column-is-layout-a77db08e > * + *{margin-block-start:0;margin-block-end:0;}
.wp-container-1{top:calc(0px + var(--wp-admin--admin-bar--position-offset, 0px));position:sticky;z-index:10;}
.wp-container-core-group-is-layout-f1c7dfff > .alignfull{margin-right:calc(0px * -1);margin-left:calc(0px * -1);}
.wp-container-3{top:calc(0px + var(--wp-admin--admin-bar--position-offset, 0px));position:sticky;z-index:10;}
.wp-container-core-group-is-layout-0bc941e6{flex-direction:column;align-items:flex-start;justify-content:space-between;}
.wp-container-core-group-is-layout-2b72a2fa > .alignfull{margin-right:calc(var(--wp--preset--spacing--10) * -1);margin-left:calc(var(--wp--preset--spacing--10) * -1);}
.wp-container-core-group-is-layout-72190d31 > .alignfull{margin-right:calc(0px * -1);margin-left:calc(0px * -1);}
.wp-container-core-group-is-layout-fd1540d6 > :where(:not(.alignleft):not(.alignright):not(.alignfull)){margin-left:0 !important;}
.wp-container-core-group-is-layout-7e87817f{flex-direction:column;align-items:flex-start;justify-content:space-between;}
.wp-container-core-buttons-is-layout-45b20515{align-items:flex-start;}
.wp-container-core-group-is-layout-91057431{flex-direction:column;align-items:flex-start;justify-content:space-between;}
.wp-container-core-columns-is-layout-4674cc20{flex-wrap:nowrap;gap:0 0;}
.wp-container-core-group-is-layout-4b827052{gap:0;flex-direction:column;align-items:flex-start;}
.wp-container-core-column-is-layout-eeaf3a62 > *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-column-is-layout-eeaf3a62 > * + *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-group-is-layout-bf816c8d > .alignfull{margin-right:calc(20px * -1);margin-left:calc(20px * -1);}
.wp-container-5{top:calc(0px + var(--wp-admin--admin-bar--position-offset, 0px));position:sticky;z-index:10;}
.wp-container-core-column-is-layout-b108c007 > *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-column-is-layout-b108c007 > * + *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-buttons-is-layout-ca13948c{justify-content:flex-end;align-items:flex-end;}
.wp-container-core-buttons-is-layout-b5994976{justify-content:center;align-items:center;}
.wp-container-core-group-is-layout-8ef2fb18 > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width:600px !important;margin-left:0 !important;margin-right:auto !important;}
.wp-container-core-group-is-layout-8ef2fb18 > .alignwide{max-width:600px !important;}
.wp-container-core-group-is-layout-8ef2fb18 .alignfull{max-width:none;}
.wp-container-core-group-is-layout-c385debf.wp-block-group-is-layout-constrained {
    height: 100%;
    min-height: 100vh;
    display: flex
;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}