// .Tabs {
//     > .acf-innerblocks-container {
//         @apply md:grid md:grid-cols-2 md:auto-rows-min;
//     }


//     .Tab_Title {
//         @apply md:col-start-1;
//     }

//     .Tab_content {
//         @apply md:col-start-2 md:row-span-full;
//     }
// }