// Make sure the editor container is styled correctly
.wp-block-pegasus-contentcarousel {
    width: 100%;
    display:block !important;
    
}

.wp-block-pegasus-carousel {
    width: 100%;

    .Content__Carousel {
        width: 100%;
    }
}

.Content__Carousel {
    --carousel-arrow-inset: -5rem;

    &.arrow-vertical-bottom {
        padding-bottom: calc(var(--carousel-arrow-inset) * -1);
    }

    &.arrow-vertical-top {
        padding-top: calc(var(--carousel-arrow-inset) * -1);
    }

    &.preview {
        .Carousel__Container {
            .Carousel {
                width: 100% !important;
                overflow:scroll;
            }
        }
    }

    .Navigation__Arrows {
        // If the arrows are inside a container cancel out the padding and width
        &.container {
            .container & {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }

        column-gap: var(--carousel-arrow-spacing);

        button {
            &.has-background {
                @apply bg-black/50;
            }
            
            &.icon-light {
                svg path {
                    @apply stroke-pale-01;
                }
            }
            
            &.icon-dark {
                svg path {
                    @apply stroke-black;
                }
            }
        }
    }

    // Align the arrows based on the options picked in the editor
    .alignment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        
        &.vertical {
            &-top {
                top: 0;
                margin-top: var(--carousel-arrow-inset);
            }
            &-center {
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                column-gap: 70%;

                @include sm {
                    column-gap: 80%;
                }

                @include md {
                    column-gap: 85%;
                }

                @include lg {
                    column-gap: var(--carousel-arrow-spacing);
                }
            }
            &-bottom {
                bottom: 0;
                margin-bottom: var(--carousel-arrow-inset);
            }
        }

        &.horizontal {
            &-left {
                justify-content: flex-start;
            }
            &-center {
                justify-content: center;
            }
            &-right {
                justify-content: flex-end;
            }
        }
    }


    &.small-slides {
        .Carousel__Container {
            .Carousel__Wrapper {
                .Carousel {
                    > * {
                        min-width: 30%;
                        @include sm {
                            min-width: 25%;
                        }
                        @include md { 
                            min-width: var(--slide-width);
                            width: var(--slide-width);
                            max-width: var(--slide-width);
                        }
                    }
                }
            }
        }
    }


    .Carousel__Container {
        .Carousel__Wrapper {
            .Carousel {
                & {
                    display: flex;
                    will-change: transform;
                    &:not(.dragging) {
                        &:not(.no-transition) {
                            transition: transform 0.3s ease-in-out;
                        }
                    }
                }
                > * {
                    display:flex;
                    align-items: center;
                    min-width: 85%;
                    @include sm {
                        min-width: 40%;
                    }
                    @include md { 
                        min-width: var(--slide-width);
                        width: var(--slide-width);
                        max-width: var(--slide-width);
                    }

                    * {
                        user-select: none;
                    }

                    img {
                        pointer-events: none;
                    }

                    &[style*=border-right-width] {
                        border-right-width: 0 !important;
                        position: relative;

                        &:after {
                            content:"";
                            display:block;
                            height: 90%;
                            width: 1px;
                            background-color: var(--wp--preset--color--mid);
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            position: absolute;
                        }

                    }

                }

                

                > .alignfull {
                    min-width: 100%;
                    @include lg {
                        min-width: var(--slide-width);
                        width: var(--slide-width);
                        max-width: var(--slide-width);
                    }
                }

                >.wp-block-group {
                    @include xs {
                        // border: none;
                        padding-left: 20px !important;
                        padding-right: 20px !important;
                    }
                }


            }
        }
    }
}
