/* Page-specific wp-container CSS for drug-addiction-treatment */
.wp-container-core-columns-is-layout-28232c24{flex-wrap:nowrap;gap:0 0;}
.wp-container-core-buttons-is-layout-3221e6b6{align-items:flex-start;}
.wp-container-2{top:calc(0px + var(--wp-admin--admin-bar--position-offset, 0px));position:sticky;z-index:10;}
.wp-container-core-group-is-layout-fd1540d6 > :where(:not(.alignleft):not(.alignright):not(.alignfull)){margin-left:0 !important;}
.wp-container-core-column-is-layout-af83c3dd > *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-column-is-layout-af83c3dd > * + *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-column-is-layout-92d440f1 > *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-column-is-layout-92d440f1 > * + *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-group-is-layout-f1c7dfff > .alignfull{margin-right:calc(0px * -1);margin-left:calc(0px * -1);}
.wp-container-5{top:calc(0px + var(--wp-admin--admin-bar--position-offset, 0px));position:sticky;z-index:10;}
.wp-container-core-column-is-layout-bf43075d > *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-column-is-layout-bf43075d > * + *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-group-is-layout-0bc941e6{flex-direction:column;align-items:flex-start;justify-content:space-between;}
.wp-container-core-group-is-layout-2b72a2fa > .alignfull{margin-right:calc(var(--wp--preset--spacing--10) * -1);margin-left:calc(var(--wp--preset--spacing--10) * -1);}
.wp-container-core-group-is-layout-72190d31 > .alignfull{margin-right:calc(0px * -1);margin-left:calc(0px * -1);}
.wp-container-core-group-is-layout-02e3544c > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width:900px !important;margin-left:auto !important;margin-right:auto !important;}
.wp-container-core-group-is-layout-02e3544c > .alignwide{max-width:900px !important;}
.wp-container-core-group-is-layout-02e3544c .alignfull{max-width:none;}
.wp-container-core-group-is-layout-fe9cc265{flex-direction:column;align-items:flex-start;}
.wp-container-core-columns-is-layout-9c22b1e3{flex-wrap:nowrap;gap:2em 0;}
.wp-container-core-column-is-layout-c43c6636 > *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-column-is-layout-c43c6636 > * + *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-buttons-is-layout-ca13948c{justify-content:flex-end;align-items:flex-end;}
.wp-container-core-buttons-is-layout-b5994976{justify-content:center;align-items:center;}
.wp-container-core-group-is-layout-8ef2fb18 > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width:600px !important;margin-left:0 !important;margin-right:auto !important;}
.wp-container-core-group-is-layout-8ef2fb18 > .alignwide{max-width:600px !important;}
.wp-container-core-group-is-layout-8ef2fb18 .alignfull{max-width:none;}
.wp-container-core-group-is-layout-c385debf.wp-block-group-is-layout-constrained {
    height: 100%;
    min-height: 100vh;
    display: flex
;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}