.Post__Grid {

    &-grid {
        display: flex;
        row-gap: 1.5rem;

        @include sm{
            display: grid;
            grid-column-gap: 1.5rem;
            grid-row-gap: 6rem;
            grid-template-columns: repeat(clamp(1, calc(var(--post-grid-grid-cols)/2), 2), 1fr);
        }
    
        @include md {
            grid-template-columns: repeat(var(--post-grid-grid-cols), 1fr);
        }
    }

    &-post {
        .group:hover {
            .read-button {
                &:after {
                    transform-origin: right;
                    transform: scaleX(0);
                }
            }
        }
        .read-button {
            transition: all 0.3s ease-in-out;
            position: relative;
            display: inline-block;
            width: auto;
    
            &:after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #000;
                transform: scaleX(1);
                transform-origin: left;
                transition: transform 0.3s ease-out;
            }
        }
    }
}