.block_calendar_event {
  padding: 2rem;

  .therapy-schedule {
    font-family: var(--wp--preset--font-family--body);
    color: #333;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    align-items: baseline;
    justify-items: stretch;
    margin: 0 auto;
    min-width: 80vw;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    max-width: 80vw;

    .swiper-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      box-sizing: content-box;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      min-width: calc(33% - 15px);

      @media (max-width: 1024px) {
        min-width: 100%;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .swiper-button-prev {
      display: flex;
      width: 60px;
      height: 60px;
      background: url(/wp-content/themes/pegasus/blocks/CalendarEventTable/left.svg) no-repeat;
      background-size: contain !important;
      margin-top: 2rem;
      margin-bottom: 2rem;
      cursor: pointer;
    }

    .swiper-button-next {
      display: flex;
      width: 60px;
      height: 60px;
      background-size: contain !important;
      background: url(/wp-content/themes/pegasus/blocks/CalendarEventTable/right.svg) no-repeat;
      margin-top: 2rem;
      margin-bottom: 2rem;
      cursor: pointer;
    }

    .buttons-swipers {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }


  }

  .day-header {
    background: #ede9e9;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;

    justify-content: space-between;
    font-weight: 300;
    font-family: 'TWK Lausanne Pan', sans-serif;
    @media(max-width: 1100px){
      flex-direction: column;
    }

    h2 {
      font-size: 24px;
      margin: 0;
      font-family: var(--wp--preset--font-family--heading);
      font-weight: 300;
      line-height: 1.2;
      margin-top: 0;
    }
  }

  .day-subheader {
    display: flex;
    justify-content: space-between;
    color: #000000;
    margin-top: 5px;
    font-family: var(--wp--preset--font-family--heading);
    font-weight: 300;
    line-height: 1.2;
    font-size: 1rem;

    span.progress {
      padding-left: .5rem;
    }

    span.date {
      padding-right: .5rem;

      @media(max-width: 1110px){
        border:0;
      }
    }

  }

  .activity-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .activity-item {
      background: #f7f5f5;
      padding: 15px;


      &:nth-child(even) {
        background: #ede9e9;
      }

      .activity-info {
        justify-content: space-between;
        color: #8f8c8c;
        position: relative;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        gap: 0.5rem 1rem;
        align-items: center;
        width: 100%;

        .small_desc {
          grid-column: 1 / -1;
          grid-row: 2;
        }
      }

      .activity-title {
        grid-column: 1;
        grid-row: 1;
        font-family: var(--wp--preset--font-family--body);
        color: #8f8c8c;

        strong {
          font-weight: 300;
          font-size: 16px;
          color: #8f8c8c;
          display: flex;
          align-items: center;
        }
      }

      .activity-description {
        font-size: 0.8rem;
        margin-top: 5px;
        color: #969596;
        font-family: var(--wp--preset--font-family--body);
        margin-bottom: 0;
        opacity: 0.7;
      }

      .activity-time {
        font-family: var(--wp--preset--font-family--body);
        font-size: .9rem;
        min-width: 100px;
        text-align: right;
        color: #969596;
        opacity: 0.7;
        grid-column: 2;
        grid-row: 1;
        justify-self: end;

        small {
          font-size: 80%;
          display: flex;
          flex-direction: column;
          margin-left: -32px;
          width: 96%;
          margin-top: 8px;
          text-align: justify;
        }
      }


    }


    .popup_desc_fz {
      position: absolute;
      height: auto;
      width: calc(100% + 30px);
      background: #fff;
      z-index: 1231123;
      top: 38px;
      margin-right: auto;
      padding: 30px;
      box-sizing: border-box;
      margin-left: -15px;
      padding-top: 20px;
      -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

      &.closed {
        display: none;
      }

      &__close {
        display: flex;
        justify-content: end;
        margin-bottom: 20px;
      }

      &__wrapper {
        padding: 40px;
        font-size: .8rem;
        margin-top: 5px;
        color: #969596;
        font-family: var(--wp--preset--font-family--body);
        margin-bottom: 0;
        opacity: .9;
        border: 1px solid lightgray;

        img.wrp-ic_quest {
          position: absolute;
          width: 40px !important;
          height: 40px !important;
          top: 42px;
          background: white;
          box-sizing: border-box;
          display: flex;
          padding: 6px;
          border-radius: 100%;
          left: 44%;
        }

      }

    }

    img.question_icon {
      width: 18px !important;
      height: 18px !important;
      margin-left: 1rem;
      cursor: pointer;
    }
  }


  img.close_please {
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
  }

}


/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
