/* Page-specific wp-container CSS for about-us */
.wp-container-content-450976ed{flex-basis:10vh;}
.wp-container-core-columns-is-layout-ec2e7a44{flex-wrap:nowrap;}
.wp-container-content-5e051d6e{flex-basis:12vh;}
.wp-container-content-fc52e659{flex-basis:5vh;}
.wp-container-core-group-is-layout-cd57f305{flex-wrap:nowrap;flex-direction:column;align-items:stretch;justify-content:flex-start;}
.wp-container-core-group-is-layout-9a2e2d63{flex-wrap:nowrap;flex-direction:column;align-items:stretch;justify-content:space-between;}
.wp-container-core-columns-is-layout-28232c24{flex-wrap:nowrap;gap:0 0;}
.wp-container-core-group-is-layout-4e222474 > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width:1440px !important;margin-left:auto !important;margin-right:auto !important;}
.wp-container-core-group-is-layout-4e222474 > .alignwide{max-width:1440px !important;}
.wp-container-core-group-is-layout-4e222474 .alignfull{max-width:none;}
.wp-container-core-group-is-layout-f0e89823 > .alignfull{margin-right:calc(20px * -1);margin-left:calc(20px * -1);}
.wp-container-1{top:calc(0px + var(--wp-admin--admin-bar--position-offset, 0px));position:sticky;z-index:10;}
.wp-container-core-column-is-layout-b108c007 > *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-column-is-layout-b108c007 > * + *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-group-is-layout-48c060e4{flex-direction:column;align-items:flex-start;justify-content:center;}
.wp-container-core-group-is-layout-91057431{flex-direction:column;align-items:flex-start;justify-content:space-between;}
.wp-container-core-columns-is-layout-4674cc20{flex-wrap:nowrap;gap:0 0;}
.wp-container-core-group-is-layout-4b827052{gap:0;flex-direction:column;align-items:flex-start;}
.wp-container-core-column-is-layout-eeaf3a62 > *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-column-is-layout-eeaf3a62 > * + *{margin-block-start:0;margin-block-end:0;}
.wp-container-core-group-is-layout-fd1540d6 > :where(:not(.alignleft):not(.alignright):not(.alignfull)){margin-left:0 !important;}
.wp-container-core-group-is-layout-7e87817f{flex-direction:column;align-items:flex-start;justify-content:space-between;}
.wp-container-core-group-is-layout-7c02adbe > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width:520px !important;margin-left:0 !important;margin-right:auto !important;}
.wp-container-core-group-is-layout-7c02adbe > .alignwide{max-width:520px !important;}
.wp-container-core-group-is-layout-7c02adbe .alignfull{max-width:none;}
.wp-container-core-group-is-layout-0986e329 > .alignfull{margin-right:calc(0px * -1);margin-left:calc(0px * -1);}
.wp-container-3{top:calc(0px + var(--wp-admin--admin-bar--position-offset, 0px));position:sticky;z-index:10;}
.wp-container-4{top:calc(0px + var(--wp-admin--admin-bar--position-offset, 0px));position:sticky;z-index:10;}
.wp-container-core-group-is-layout-d1e9d9b9 > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width:542px !important;margin-left:0 !important;margin-right:auto !important;}
.wp-container-core-group-is-layout-d1e9d9b9 > .alignwide{max-width:542px !important;}
.wp-container-core-group-is-layout-d1e9d9b9 .alignfull{max-width:none;}
.wp-container-core-buttons-is-layout-a89b3969{justify-content:center;}
.wp-container-core-columns-is-layout-94363411{flex-wrap:nowrap;}
.wp-container-core-group-is-layout-7f11c10a{flex-direction:column;align-items:center;justify-content:center;}
.wp-container-7{top:calc(0px + var(--wp-admin--admin-bar--position-offset, 0px));position:sticky;z-index:10;}
.wp-container-core-group-is-layout-8ef2fb18 > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width:600px !important;margin-left:0 !important;margin-right:auto !important;}
.wp-container-core-group-is-layout-8ef2fb18 > .alignwide{max-width:600px !important;}
.wp-container-core-group-is-layout-8ef2fb18 .alignfull{max-width:none;}
.wp-container-core-buttons-is-layout-45b20515{align-items:flex-start;}
.wp-container-core-columns-is-layout-9c22b1e3{flex-wrap:nowrap;gap:2em 0;}
.wp-container-core-group-is-layout-ab53cef7 > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width:850px !important;margin-left:0 !important;margin-right:auto !important;}
.wp-container-core-group-is-layout-ab53cef7 > .alignwide{max-width:850px !important;}
.wp-container-core-group-is-layout-ab53cef7 .alignfull{max-width:none;}
.wp-container-core-buttons-is-layout-ca13948c{justify-content:flex-end;align-items:flex-end;}
.wp-container-core-buttons-is-layout-b5994976{justify-content:center;align-items:center;}
.wp-container-core-group-is-layout-c385debf.wp-block-group-is-layout-constrained {
    height: 100%;
    min-height: 100vh;
    display: flex
;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}