.Read_More {
    button {
        transition: all 0.3s ease-in-out;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #000;
            transform: scaleX(1);
            transform-origin: left;
            transition: transform 0.3s ease-out;
        }

        &:hover {
            &:after {
                transform-origin: right;
                transform: scaleX(0);
            }
        }

        &:not(:hover) {
            &:after {
                transform-origin: left;
                transform: scaleX(1);
                transition: transform 0.3s ease-in;
            }
        }
    }
}