.hs-form {
    .field {
        @apply mb-3;

        > label {
            @apply sr-only;
        }
    }

    input,
    textarea,
    select {
        @apply rounded-lg text-dark-01 w-full p-4;
        background-color: #f6f0e8;
        font-size: var(--wp--preset--font-size--x-small);

        html[dir="rtl"] & {
            text-align: right;
        }
    }

    textarea {
        min-height: 126px;
    }

    select {
        @apply font-body font-[450] leading-[1.2] tracking-widest;
    }

    ::placeholder {
        @apply font-body font-[450] leading-[1.2] tracking-widest opacity-100 text-dark-01;
        font-size: var(--wp--preset--font-size--x-small);

        html[dir="rtl"] & {
            text-align: right;
        }
    }

    .hs-button {
        @apply cursor-pointer w-auto py-2.5 px-7 bg-dark-01 rounded-full text-pale-01 leading-normal whitespace-nowrap hover:bg-pale-01 hover:text-dark-01 duration-300 uppercase;
        font-weight: 550;
    }

    .hs-submit {
        @apply mt-5;
    }

    .hs-error-msg {
        font-size: var(--wp--preset--font-size--x-small);
        color: #E03D3D;
    }

    .light-text & {
        @apply bg-dark-01 text-pale-01;

        input,
        textarea {
            @apply text-pale-01;
            background-color: #363836;
        }

        ::placeholder {
            @apply text-pale-01;
        }

        .hs-button {
            @apply bg-white text-dark-01 hover:text-pale-01;

            &:hover {
                background-color: #363836;
            }
        }
    }
}

.Modal__body {
    .hs-form {
        ::placeholder {
            font-weight: 250;
        }

        select {
            font-weight: 250;
        }

        input,
        textarea,
        select {
            background-color: #ece6d4;
        }

        .hs-button {
            @apply bg-dark-01 hover:bg-pale-01 hover:text-dark-01;
        }
    }

    .light-text {
        .hs-form {
            input,
            textarea {
                background-color: #363836;
            }

            .hs-button {
                @apply bg-white hover:text-dark-01;
            }
        }
    }
}