<div class="row-background w-full h-full absolute top-0 left-0 overflow-hidden">
    <div class="w-full h-full overflow-hidden relative">
        {{ pegasus_video(data.background_video_upload, {
            class: 'absolute-center w-full !h-full video-upload object-cover media-video',
            autoplay: true,
            loop: true,
            muted: true,
            controls: false,
            playsinline: true,
        }) }}
    </div>
</div>