.block_author-hero {
  margin-top: 100px;

  .container {
    width: 100%;
  }

  .author-info {
    border-left: 1px solid #ddd;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    @media(max-width: 1110px){
      border: 0;
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .author-url {
    border: 1px solid #000;
    border-radius: 100px;
    padding: 15px 24px;
    font-weight: 300;
    margin-top: 32px;
    font-size: 14px;
    cursor: pointer;
    display: flex;

    &:hover {
      background: #000;
      color: #fff;
      &:after{
        color: #fff;
        filter: invert(1);
      }
    }

    a {
      display: flex;
      width: 100%;
      text-transform: uppercase;
    }

    &:after{
      color: currentColor;
      display: inline;
      content: "";
      width: 18px;
      height: 18px;
      background: url(data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M15.1738%2010.8008L8.96875%2016.5625L8.86523%2016.4658L14.9668%2010.8008H15.1738Z%22%20fill%3D%22currentColor%22%20stroke%3D%22currentColor%22/%3E%3Cpath%20d%3D%22M16.4664%207.71762H14.7906L8.13086%201.53507L8.96956%200.757812L16.4664%207.71762Z%22%20fill%3D%22currentColor%22/%3E%3Cpath%20d%3D%22M10.6536%208.46618H17.2751L17.8482%208.99823L17.2552%209.54878L17.2154%209.55032H15.5911L15.5928%209.54878L0.152344%209.5534V8.4523L6.99814%208.45076V8.46618H8.97781L8.95955%208.44922H10.6353L10.6536%208.46618Z%22%20fill%3D%22currentColor%22/%3E%3C/svg%3E) no-repeat center / contain;
      position: relative;
      margin-left: 10px;
    }
  }
}



.author-grid.py-4 {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 60px;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  margin-bottom: 60px;
  @media(max-width: 1110px){
    grid-template-columns: 100%;
    gap: 20px;
  }


  .author-image img {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    max-height: 74vh;
    @media(max-width: 1110px){
      max-height: 100%;
    }
  }
}

.authors-template-default.single.single-authors {
  background: #FAF6EE !important;
}

p.TeamHeading__role.has-medium-font-size.wp-block-paragraph {
  margin-bottom: 64px;
}