<div class="TeamHeading">
    {% if title %}
        <p class="TeamHeading__title has-text-align-center has-medium-font-size wp-block-paragraph !mb-0" dir="ltr">{{ title }}</p>
    {% endif %}

    {% if name %}
        <h1 class="TeamHeading__name wp-block-heading has-text-align-center has-xxxx-large-font-size">{{ name }}</h1>
    {% endif %}

    {% if role %}
        <p class="TeamHeading__role has-text-align-center has-medium-font-size wp-block-paragraph">{{ role }}</p>
    {% endif %}
</div>
