// Make sure to set the font sizes in the theme.json
// file for both the body and the core/headings block

.wp-block-heading {
    letter-spacing: -.05em;
}

.heading-one,
.heading-two,
.heading-three,
.heading-four,
.heading-five,
.heading-six {
    @apply font-headings font-light leading-[1.2] tracking-tighter;
}

.subtitle-xl,
.subtitle-lg,
.subtitle-md,
.subtitle-sm {
    @apply font-body font-light leading-[1.2];
}

.body-lg,
.body-md,
.body-sm,
.body-xs {
    @apply font-body font-[250] leading-[1.4];
}

.eyebrow,
.btn {
    @apply font-body font-[450] leading-[1.2] uppercase;
}

.eyebrow {
    @apply tracking-widest;
    text-underline-offset: 0.3em;
}

button {
    &.eyebrow {
        white-space: nowrap;
    }
}

.btn {
    @apply tracking-wider;
}

.heading-one {
    font-size: var(--wp--preset--font-size--xxxx-large);
}

.heading-two {
    font-size: var(--wp--preset--font-size--xxx-large);
}

.heading-three {
    font-size: var(--wp--preset--font-size--xx-large);
}

.heading-four,
.subtitle-xl {
    font-size: var(--wp--preset--font-size--x-large);
}

.heading-five,
.subtitle-lg,
.body-lg {
    font-size: var(--wp--preset--font-size--large);
}

.heading-six,
.subtitle-md,
.body-md,
.buton--large {
    font-size: var(--wp--preset--font-size--medium);
}

.subtitle-sm,
.body-sm {
    font-size: var(--wp--preset--font-size--small);
}

.body-xs,
.eyebrow,
.btn {
    font-size: var(--wp--preset--font-size--x-small);
}

.is-style-eyebrow {
    letter-spacing: .1em;
    text-underline-offset: 0.3em;
}

p {
    &.is-style-eyebrow {
        &.has-dark-01-color {
            color: var(--wp--preset--color--dark-02) !important;
        }
    }
    &:not(.is-style-eyebrow) {

        a {
            text-decoration: none !important;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #000;
                transform: scaleX(1);
                transform-origin: left;
                transition: transform 0.3s ease-out;
            }
    
            &:hover {
                &:after {
                    transform-origin: right;
                    transform: scaleX(0);
                }
            }
    
            &:not(:hover) {
                &:after {
                    transform-origin: left;
                    transform: scaleX(1);
                    transition: transform 0.3s ease-in;
                }
            }
        }
    }
}