{% if only_display_contents_in_a_modal is empty or inModal is not empty %}
<div class="Modal_Content {{ backgroundColor ? 'overflow-auto bg-' ~ backgroundColor }} {{ this.getData().block.styleStrings.spacing is not empty ? 'has-padding' }}" style="{{ this.getData().block.styleStrings.spacing }}">
    <InnerBlocks />
</div>
{% endif %}